- tdx_QGS_socket:
    type = tdx_QGS_socket
    virt_test_type = qemu
    machine_type_extra_params = "kernel-irqchip=split"
    vm_secure_guest_type = tdx
    # TODO: this needs a special format to convert from libvirt guest.
    vm_secure_guest_object_options = attributes=10000000 quote-generation-socket.type=unix quote-generation-socket.path=/run/tdx-qgs/qgs.socket
    dcap_preset_services = "qgs mpa_registration"
    # Don't create/remove guest images
    start_vm = no
    # Stop VM after testing
    kill_vm = yes
    auto_cpu_model = "no"
    cpu_model = host
    guest_flags = "tdx_guest"
    report_path = "/sys/kernel/config/tsm/report/report0"
